{% extends 'template.html' %}
{% block title%}
Registracija
{% endblock %}
{% block content %}

<body style="background-color: #c9c9c9;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="panel panel-default" style="padding:5%">
                    <div class="panel-body" style="border-radius: 25px; padding:5%; background-color: whitesmoke;">
                        <form method="POST" class="form-register">
                            {{ form.hidden_tag() }}
                            {{ form.ime.label() }}
                            {{ form.ime(class="form-control", placeholder="Ime")}}
                            <br>
                            {{ form.prezime.label() }}
                            {{ form.prezime(class="form-control", placeholder="Prezime")}}
                            <br>
                            {{ form.adresa.label() }}
                            {{ form.adresa(class="form-control", placeholder="Adresa")}}
                            <br>
                            {{ form.grad.label() }}
                            {{ form.grad(class="form-control", placeholder="Grad")}}
                            <br>
                            {{ form.drzava.label() }}
                            {{ form.drzava(class="form-control", placeholder="Drzava")}}
                            <br>
                            {{ form.telefon.label() }}
                            {{ form.telefon(class="form-control", placeholder="06xxxxxxx")}}
                            <br>
                            {{ form.email.label() }}
                            {{ form.email(class="form-control", placeholder="Email")}}
                            <br>
                            {{ form.password1.label() }}
                            {{ form.password1(class="form-control", placeholder="")}}
                            <br>
                            {{ form.password2.label() }}
                            {{ form.password2(class="form-control", placeholder="")}}
                            <br>

                            {{ form.submit(class="form-control btn-info") }}
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>

</body>
{% endblock %}