{% extends 'template.html' %}
{% block title%}
Prenos
{% endblock %}
{% block content %}
<body style="background-color: #e9ecef;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron text-center">
                    <h1>Prenos kripto valute </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form method="POST" class="form-prenos">
                    {{ form.hidden_tag() }}
                    {{ form.primalac.label() }}
                    {{ form.primalac(class="form-control")}}
                    <br>
                    {{ form.valuta.label() }}
                    {{ form.valuta(class="form-control", placeholder="")}}
                    <br>    
                    {{ form.iznos.label() }}
                    {{ form.iznos(class="form-control", placeholder="")}}
                    <br>
                    {{ form.submit(class="form-control btn-info") }}
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}